h1 {
    font-family:'Courier New', Courier, monospace ;
    color: floralwhite;
    text-align: center;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: floralwhite;
    text-align: center;
}
body {
    /*
    background: url();
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
} 
